

/* commone-style */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(238, 236, 236);
   
}
h2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-left: 13%;
}
hr{
    border: 1px solid  #fff;
    width: 82%;
    justify-content: center;
    margin-top: 50px;
}
p{
    font-size: 20px;
}
/* Left-and-Right side */
.Left-and-Right-side{
    display: flex;
    justify-content: center;

}
.left-side{
   font-size: 30px;
   /* padding: 70px; */
   margin-left: 13%;

}
h1{
    font-size: 35px;
}
.link-button{
    color: #fff;
    background-color: #E02C6D;
     padding: 10px 40px;
     border-radius: 15px;
     text-decoration: none;
     font-weight: 700;

}
.fa-arrow-right{
    padding-left: 5px;
    color: #fff;
}
/* Right-site */
.Right-side{
    transition: 1s;
    margin-right: 13%;
}
.Right-imgs{
    margin-left: 30px;
    background-color:#fff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 30%;
  

}
.Right-side:hover{
    transform: scale(1, 0);
   
}
/* <!-- Second-part --> */
h3{
    font-size: 25px;
    font-weight: 900;
}
span{
    font-size: 25px;
}
.second-title{
  /* text-align: center; */
  margin-left: 43%;
  font-size: 30px;
}
.cade-one-img{
    width: 100%;

}
.stars{
    display: flex;

}
.point{
    margin-left: 8px;
    font-size: 20px;
}
.fa-star{
    color: #E02C6D ;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-row-gap: 30px;
    margin-left: 13%;
    margin-right: 13%;

}
.card{
    background-color:#fff;
    box-shadow: 10px black;
    width: 320px; ;
    height: 470px;
    padding: 30px;
    border-radius: 15px;
 }
 .sceond-link-button{
    color: #E02C6D;
    padding: 10px 40px;
     border-radius: 15px;
     text-decoration: none;
     font-weight: 700;
     font-size: 25px;
    

 }
.sceond-ancor .fa-arrow-right{
     color:#E02C6D ;
     
 }
.sceond-ancor{
   text-align: right;
    margin-right: 13%;
  
}
/* <!-- Last-section --> */
.last-section{
    display: flex;
    justify-content: space-around;

}
.Best Cameras{
    margin-left: 95%;
}
.best-blogging img{
    width: 404px;
    height: 270px;
    margin-left: 13%;
}
.join{
    background-color: #E02C6D;
    color: #fff;
    padding: 15px;
    text-decoration: none;
   
}
