

/* commone-style */
body{
    font-family: 'Times New Roman', Times, serif;
   
}
h2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-left: 13%;
}
hr{
    border: 1px solid  #E02C6D;
    width: 82%;
    justify-content: center;
    margin-top: 50px;
}
p{
    font-size: 20px;
}
/* Left-and-Right side */
.Left-and-Right-side{
    display: flex;
    justify-content: center;

}
.left-side{
   font-size: 30px;
   /* padding: 70px; */
   margin-left: 13%;

}
h1{
    font-size: 35px;
}
.link-button{
    color: #fff;
    background-color: #E02C6D;
     padding: 10px 40px;
     border-radius: 15px;
     text-decoration: none;
     font-weight: 700;

}
.fa-arrow-right{
    padding-left: 5px;
    color: #fff;
}
/* Right-site */
.Right-side{
    transition: 1s;
    margin-right: 13%;
}
.Right-imgs{
    margin-left: 30px;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    padding: 15px;
    box-shadow: 30%;
  

}
.Right-side:hover{
    transform: scale(1, 0);
   
}
/* <!-- Second-part --> */